.tech_icon_parent {
    .tech_icon {
        height: 115px;
        width: 110px;
        margin: 0 auto;
        display: block;
        background: url(../img/technology.png) no-repeat;
    }
    .otech {
        background-position: 0 -115px;
    }
    .niokr {
        background-position: -110px -115px;
    }
    .foreign {
        background-position: -220px -115px;
    }
    .lab {
        background-position: -330px -115px;
    }
    .test {
        background-position: -440px -115px;
    }
    .confers {
        background-position: -550px -115px;
    }
    .news {
        background-position: -660px -115px;
    }
    .calendar {
        background-position: -770px -115px;
    }
    &:hover, &:focus, &.active {
        .otech {
            background-position: 0 0;
        }
        .niokr {
            background-position: -110px 0;
        }
        .foreign {
            background-position: -220px 0;
        }
        .lab {
            background-position: -330px 0;
        }
        .test {
            background-position: -440px 0;
        }
        .confers {
            background-position: -550px 0;
        }
        .news {
            background-position: -660px 0;
        }
        .calendar {
            background-position: -770px 0;
        }
    }
}
@text-color: #faa;
body {
    background-color: @text-color;
}