@red: #d10016;
@text-muted: #777777;
@text-color: #333333;
.opacity(@opacity: 0.5) {
    -moz-opacity: @opacity;
    -khtml-opacity: @opacity;
    -webkit-opacity: @opacity;
    opacity: @opacity;
    @opperc: @opacity * 100;
    -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
    filter: ~"alpha(opacity=@{opperc})";
}
.rotate (@deg) {
    -webkit-transform: rotate(@deg);
    -moz-transform: rotate(@deg);
    -ms-transform: rotate(@deg);
    -o-transform: rotate(@deg);
    transform: rotate(@deg);
}
.transition (@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
}
.calc {
    .calc-result-img {
        position: relative;
        img {
            display: none;
            top: 0;
            position: absolute;
            &:first-child {
                display: block;
            }
        }
    }
    .calc-parameter {
        @calc-parameter-left: -41px;
        @calc-parameter-top: -30px;
        .calc-parameter-img {
            width: 41px;
            height: 30px;
            background: url("../img/svaya_parameter_icon.png") no-repeat;
            .opacity(0.5);
        }
        &.calc-parameter__tip-type {
            .calc-parameter-img {
                background-position: @calc-parameter-left*0 0;
            }
        }
        &.calc-parameter__pile-diameter {
            .calc-parameter-img {
                background-position: @calc-parameter-left*1 0;
            }
        }
        &.calc-parameter__pile-length {
            .calc-parameter-img {
                background-position: @calc-parameter-left*2 0;
            }
        }
        &.calc-parameter__wall-thickness {
            .calc-parameter-img {
                background-position: @calc-parameter-left*3 0;
            }
        }
        &.calc-parameter__blades-number {
            .calc-parameter-img {
                background-position: @calc-parameter-left*4 0;
            }
        }
        &.calc-parameter__blade-diameter {
            .calc-parameter-img {
                background-position: @calc-parameter-left*5 0;
            }
        }
        &.calc-parameter__blade-thickness {
            .calc-parameter-img {
                background-position: @calc-parameter-left*6 0;
            }
        }
        &.calc-parameter__steel-grade {
            .calc-parameter-img {
                background-position: @calc-parameter-left*7 0;
            }
        }
        &.calc-parameter__coverage {
            .calc-parameter-img {
                background-position: @calc-parameter-left*8 0;
            }
        }
        .control-label {
            color: #C0C0C0;
        }
        .param-popover {
            top: 5px;
            position: absolute;
            .glyphicon {
                color: @text-muted;
            }
        }
        .parameter-select {
            .param_option[disabled] {
                color: #C0C0C0;
            }
        }
        &.param_active {
            .control-label {
                color: inherit;
            }
            .calc-parameter-img {
                .opacity(1);
            }
            &.param_select {
                .parameter-select {
                    border: 1px @red solid;
                }
                .param-popover {
                    .glyphicon {
                        color: @red !important;
                    }
                }
            }
        }
        .popover {
            max-width: none;
            width: 500px;
        }
    }
    .pile-type {
        display: table;
        margin: auto;
        li {
            padding: 0;
            a {
                display: block;
                height: 146px;
                width: 50px;
                background: url("../img/building/building-svaia-list_new.png");
                .opacity(0.4);
            }
            &:hover, &:focus {
                a {
                    .opacity(0.7);
                }
            }
            &.active {
                a {
                    .opacity(1);
                }
            }
        }
        @building-svaya-left: -50px;
        .pile-type-1 {
            a {
                background-position: @building-svaya-left*0 0;
            }
        }
        .pile-type-2 {
            a {
                background-position: @building-svaya-left*1 0;
            }
        }
        .pile-type-3 {
            a {
                background-position: @building-svaya-left*2 0;
            }
        }
        .pile-type-4 {
            a {
                background-position: @building-svaya-left*3 0;
            }
        }
        .pile-type-5 {
            a {
                background-position: @building-svaya-left*4 0;
            }
        }
        .pile-type-6 {
            a {
                background-position: @building-svaya-left*5 0;
            }
        }
    }
    .result-order-btn {
        margin: 10px 0;
    }
    .analog-btn {
        margin: 10px 15px;
        border-color: @red !important;
    }
}